.custom-button {
    padding: 8px 16px;
    border: 1px solid #1976D2;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.custom-button:hover {
    opacity: 0.8;
}